<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <% if( !nickname ) { %>
    <p>로그인을 해주세요. </p>
    <a href="/login">로그인</a>
    <a href="/join">회원가입</a>
    <% } else { %>
    <p>안녕하세요. <%=nickname %> 님</p>
    <a href="/logout">로그아웃</a>
    <% } %>
</body>
</html>
